body{
    background-image: url("../images/background2.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center; 
    color: #f7ed0a;
}

.container{
    margin: 20px 50px;
}

.content{
    overflow: auto;
}

.row{
    overflow: auto;
    clear: both;
    margin: 20px 0px;

}

.center{
    text-align: center;
}

.title-lg{
    font-size: 40px;
    font-style: bold;
    margin: 10px 0px;
}

h3{
    font-size: 20px;
    font-style: bold;
    margin: 5px 0px;
}

.character-select{
    min-height: 200px;
}

div[class*="col-"]{
    float: left;
    margin: 5px;
}
.col-lg{
    width: 45%;
}

.hidden{
    visibility: hidden;
}

.stats{
    text-align: center;
}

.img{
    width: 150px;
    height: 150px;
    margin: 2px;
}

.health-bar-full{
    margin:0px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    background-color: lightgray;
    height: 5px;
    width: 80%;
}

.health-bar{
    width: 100%;
    background-color: red;
    height: 100%;
}



.char-img{
    width: 200px;
    height: 200px;
}

.no-m{
    margin: 0px;
}
